body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #ccc;
}
